*{
  margin: 0;
  position: 0;
  box-sizing: border-box;
  background: rgb(207, 223, 221);
}





.container>h1{
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  text-shadow:2px 2px #ff0000;
}
.container>p{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px #FF0000;
  margin-top: 5px;

}
.main-container{
  margin: auto;
  width: 60%;
  height: 50vh;
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-container:hover{
  background-color: antiquewhite;
}

::-webkit-scrollbar{
  width: 0;
  /* background-color: #ff0000; */
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.btns>button{
  margin: 0 10px;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
  background-color: #ff0000;
  border-style: none;
}

.btns>button:hover{
  background-color: rgb(198, 198, 216);
  color: #ff0000;
  
}
/* .btns>button:hover{

} */